<div class="jumbotron">  <h1>Pins</h1> </div>
<div class="container">
  <p id="notice"><%= notice %></p>

 

  
  <br>
  <div class="card-columns">
  <% @pins.each do |pin| %>

    <div class="card">
      <img src="<%= pin.photo %>" class="card-img-top img-thumbnail" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= pin.name %></h5>
        <p class="card-text"><%= pin.description %></p>
        <div class="buttons" style="margin-top:10px; margin-bottom:10px">
          <%= link_to 'Show', pin, :class => 'btn' %>
        </div>
      </div>

    </div>

  <% end %>
</div>
</div>



<br>
</div>