<div class="jumbotron" style="background-image: url(https://i.ibb.co/gm9YpKj/8.png); background-size: 100% 100%;>  <h1>Mis Pins</h1>
<div class="row">
    <div class="col">
      <span class="float-right">
        <%= link_to 'Nuevo pin', new_pin_path, :class => "btn btn-primary" %>
      </span>
    </div>
  </div> </div>
<div class="container">
  <br>
  <div class="card-columns">
  <% @pins.each do |pin| %>
  
    <div class="card">
    <img src="<%= pin.photo %>" class="card-img-top img-thumbnail" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= pin.name %></h5>
      <p class="card-text"><%= pin.description %></p>
      <div class="buttons" style="margin-top:10px; margin-bottom:10px">
        <%= link_to 'Show', pin, :class => 'btn' %>
        <% if user_signed_in? %>
        <%= link_to 'Edit', edit_pin_path(pin), :class => 'btn' %>
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
<br>
</div>